@inject IState<SearchState> SearchState
@inject IDispatcher Dispatcher

<div>
    <label>Select Table:</label>
    <TelerikDropDownList Data="@SearchState.Value.Tables"
                         Value="@SearchState.Value.SelectedTable"
                         @onchange="@(args => OnTableSelected(args.Value as string))"
                         DefaultText="-- Select a Table --"
                         Width="200px" />
</div>

@code {
    [Parameter] public EventCallback<string> OnTableSelectedCallback { get; set; }

    private async Task OnTableSelected(string tableName)
    {
        if (tableName != null)
        {
            Dispatcher.Dispatch(new SelectTableAction(tableName));
            await OnTableSelectedCallback.InvokeAsync(tableName);
        }
    }
}